@import url("https://use.typekit.net/dho1oij.css");

$dark-grey: #000D0C;
$grey-one: #2F403E;
$grey-two: #485958;
$grey: #888C8C;
$ligth: #F2F1E9;
$white: #fff;
$black: #000;


html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: url("/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: komet,sans-serif;
    font-weight: 500;
    font-style: normal;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        background: rgba(242, 241, 233, 0.6);
    }
}

h1, h2 {
    font-family: komet,sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    height: 100vh;
        video {
            width: 1200px;
        }
}