@import url("https://use.typekit.net/dho1oij.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: url("/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: komet,sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #F2F1E9;
}

body:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  background: rgba(72, 89, 88, 0.7);
}

h1, h2 {
  font-family: komet,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fa-solid {
  font-size: 28px;
  padding: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.fa-solid:hover {
  color: #2F403E;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  height: 100vh;
}

section .player {
  min-width: 800px;
  max-width: 70vw;
  border: #000D0C 5px solid;
  background: #000D0C;
  border-radius: 20px;
  position: relative;
}

section .player video {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.show-controls {
  width: 100%;
  height: 40%;
  z-index: 99;
  position: absolute;
  bottom: 0;
  cursor: default;
}

video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}

.controls-container {
  position: absolute;
  max-width: 100%;
  height: 95px;
  margin-top: -95px;
  background-color: rgba(242, 241, 233, 0.5);
  border-radius: 0 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 1.5s;
  transition: all 0.2s ease-out 1.5s;
}

.controls-container .progress-range {
  height: 7px;
  width: 100%;
  background-color: #F2F1E9;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.controls-container .progress-range .progress-bar {
  height: 100%;
  width: 60%;
  background-color: #485958;
}

.controls-container .progress-range:hover {
  background-color: #888C8C;
}

.controls-container .progress-range:hover .progress-bar {
  background-color: #2F403E;
}

.controls-container .control-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
}

.controls-container .control-group .controls-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.controls-container .control-group .controls-left .volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls-container .control-group .controls-left .volume .volume-range {
  height: 5px;
  width: 75px;
  border-radius: 10px;
  background-color: #F2F1E9;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.controls-container .control-group .controls-left .volume .volume-range .volume-bar {
  position: relative;
  background-color: #485958;
  width: 60%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}

.controls-container .control-group .controls-left .volume .volume-range:hover {
  background-color: #888C8C;
}

.controls-container .control-group .controls-left .volume .volume-range:hover .volume-bar {
  background-color: #2F403E;
}

.controls-container .control-group .controls-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls-container .control-group .controls-right .speed select {
  background-color: transparent;
  border: none;
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.controls-container .control-group .controls-right .speed select option {
  background-color: #2F403E !important;
}

.controls-container .control-group .controls-right .speed select, .controls-container .control-group .controls-right .speed option {
  cursor: pointer;
  color: #F2F1E9;
}

.controls-container .control-group .controls-right .speed select:focus, .controls-container .control-group .controls-right .speed option:focus {
  outline: none;
}

.controls-container .control-group .controls-right .time {
  padding: 0 1rem;
}

.controls-container:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 800px) {
  section .player {
    min-width: unset;
    max-width: 95vw;
  }
}

@media screen and (max-width: 600px) {
  section .player {
    min-width: unset;
    max-width: 95vw;
  }
  section .controls-container .control-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section .controls-container .control-group .controls-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section .controls-container .control-group .controls-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */